<!DOCTYPE html>
<html>
  <body>

    <div data-th-fragment="fragment-react" data-th-remove="tag">
	    <div data-th-replace="/templates/fragments/common::fragment-no-javascript"></div>
	    <script src="app.js" type="text/javascript"></script>
	    <script type="text/javascript">
	        if ('serviceWorker' in navigator) {
	            navigator.serviceWorker.ready
	                .then(function(reg) {
	                    Starter.initPushNotifications(reg);
	                }, function() {
	                    console.log('Service Worker is not ready.');
	                });
	        }
	    </script>
		<div id="app"></div>
	</div>
  </body>
</html>
